body{
            background-image: url("background.jpg");
            background-size: cover;
            margin: 0%;
            font-family: 'Dongle', sans-serif;
        }
        .navbar{
            width: 100%;
            height: 70px;
            background-color: chocolate;
            font-family: 'Playfair Display', serif;
        }
        .home{
            width: 100px;
            height: 50px;
            text-align: center;
            padding-top: 20px;
            float: left;
        }
        .heroes{
            width: 100px;
            height: 50px;
            text-align: center;
            padding-top: 20px;
            float: left;
        }
        .games{
            width: 100px;
            height: 50px;
            text-align: center;
            padding-top: 20px;
            float: left;
            background-color: orangered;
        }
        .right{
            float: right;
            width: 100px;
        }
        .about{
            width: 100px;
            height: 50px;
            text-align: center;
            padding-top: 20px;
        }
        .kotak{
            width: 300px;
            height: 200px;
            float: left;
            margin: auto;
            color: white;
            font-size: x-large;
        }
        .container{
            width: 608px;
            height: 204px;
            margin: auto;
            text-align: center;
            margin-top: 80px;
            font-size: xx-large;
        }
        .gbr1{
            width: 300px;
            height: 200px;
        }
        .gbr2{
            width: 300px;
            height: 200px;
        }
        h1{
            text-align: center;
            color: white;
        }
        .home:hover{
            background-color: darkorange;
            transition: 0.5s;
            cursor: pointer;
        }
        .about:hover{
            background-color: darkorange;
            transition: 0.5s;
            cursor: pointer;
        }
        .games:hover{
            
            cursor: pointer;
        }
        .heroes:hover{
            cursor: pointer;
            background-color: darkorange;
            transition: 0.5s;
        }
        .gbr1:hover{
            cursor: pointer;
            border: 1px solid red;
            margin-left: 2px;
        }
        .gbr2:hover{
            cursor: pointer;
            border: 1px solid red;
        }